/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
a {
    text-decoration: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

/* end reset code */


html {
  box-sizing: border-box;
  color: #444;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.4;
}


/* .page-header */
.page-header {
  background-color: #100060;
  color: #fff;
  position: relative;
  padding: 1em;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.page-header h1 {
  font-size: 1.75em;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.page-header h2 {
    font-size: 1.25em;
    text-align: center;  
}

.page-header .nav-icon {
  position: absolute;
  left: 1em;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

/* .main-content */
.main-content {
  margin: 7em auto 0;
  max-width: 960px;
}

.add-margins {
    margin: 0 1.5em;
}

/* .main-nav */
.main-nav {
    position: fixed;
    top: 0
    left: 0;
    display: none;
    width: 25%;
    background-color: #100060;
    font-size: .8em;
    line-height: 1.4;
    z-index: 100;
  }
  
.main-nav ul {
    list-style: none;
    margin: 0;
    padding: .25em;
  }
  
.main-nav li {
    margin-right: .25em;
    font-weight: bold;
    padding: .125em;
  } 
  
.main-nav a{
    color: #fff;
  }

.main-nav li a {
    display: block;
    padding: .25em 0 0 .5em;
    text-decoration: none;
  }

.main-nav li a:hover {
    background-color: #fff;
    color: #100060;
    text-decoration: none;
  }
  
.main-nav li ul {
    padding: 0 0 0 .75em;
    font-weight: 400;
  }
  
.main-nav li li {
    font-weight: normal;
  }

.main-nav .deals a {
    display: block;
    background-color: #ffdd00;
    color: #000;
    padding: .25em 0 0 .5em;
    text-decoration: none;
  }
  
.main-nav .deals a:hover {
    display: block;
    background-color: #fff;
    color: #000;
    text-decoration: none;
  }

.main-nav .close-icon {
  font-style: normal;
  font-size: 2.5em;
  top: .5rem;
  line-height: 1;
  color: #fff;
  cursor: pointer;
}

.nav-open {
  overflow: hidden;
}

.nav-open .main-nav {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
  min-height: 100%;
}

.nav-open .page-content {
  border: 1px solid #100060;
  transform: translateX(25%);
}

.nav-open .page-content:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: hsla(230, 75%, 50%, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 150;
}
  
.figuretwothird {
    position: relative;
    float: left;
    width: 66%;
    border: 1px solid #fff;
}

.bigimage_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    line-height: 1;
    color: #000;
}
.button {
    display: inline-block;
    font-size: 1em;
    border: 0.125em solid #000;
    padding: .375rem .5rem;
    text-decoration: none;
    color: #000;
    background-color: rgba(255, 255, 255, 0.6);
}

.button:hover {
    background: #ff0;
}


.figureonethird {
    position: relative;
    float: left;
    width: 33%;
    border: 1px solid #fff;
}

figure img {
    display: block;
    width: 100%;
    }

figcaption {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: .25em .5em;
    color: #000;
    font-size: .8em;
    font-weight: 700;
    background-color: rgba(255, 255, 255, 0.6);

}

h3 {
    font-weight: 700;
    font-size: 2.25em;
    line-height: 1.2;
}

h4 {
    font-weight: 700;
    font-size: 1.5em;
    font-style: italic;
    line-height: 1.2;
    padding: .125rem 0 .375rem 0;
}

.list-group {
    padding: 0 0 1em 0;
}

.see-all {
    display: inline-block;
    font-size: .8rem;
    font-style: normal;
    text-decoration: none;
    border: 2px solid #444;
    margin: 0 0 1em 0;
    padding: .125em .5em;
}

.see-all a {
    color: #444;
}

.see-all:hover {
    background-color: #ff0;
}

p {
    font-size: .9em;
    padding: .375em 0;
}

.box-text {
    background-color: #bcd8fa;
    margin: 1em 1.5em;
    padding: 1em;
}

h5 {
    font-size: .9em;
    font-weight: bold;
    font-style: italic;
    padding: 0 0 .25em 0;
}

ul {
    list-style-type: disc;
    font-size: .9em;
}

li {
    margin-left: 1.1em;

}

.photo-text {
}

.housequote {
    font-style: italic;
}

.housequoteattrib {
    font-weight: bold;
    font-style: italic;
    text-align: right;

}
.footer {
    background-color: #bcd8fa;
    margin: 0;
    padding: 1em 1.5em;

}

.footer-info {
    width: 33%;
    min-width: 300px;
    float: left;
    padding-right: 1em;
}

.google-map {
    width: 60%;
    float: left;
}

.bottom-nav,
.footer-copyright {
    font-size: .8em;
    text-align: center;
}





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
